{% extends "shared/template.html" %}
{% block conteudo %}
<div class="d-flex justify-content-end align-items-center m-2">
   <a class="btn btn-primary m-2" href="{{ url_for('new_category_plan') }}">Adicionar categoria</a>
   <a class="btn btn-primary m-2" href="{{ url_for('new_plan') }}">Adicionar produto</a>
</div>
<div class="col-md-12">
   <h4 class="text-secondary">Categorias:</h4>
   <table class="table table-striped table-responsive table-bordered">
      <thead class="thead-default">
         <tr>
            <th>Nome</th>
            <th>Ativo</th>
            <th></th>
            <th></th>
         </tr>
      </thead>
      <tbody>
         {% for category in categories %}
         <tr>
            <td>{{ category.nome }}</td>
            <td>
               {% if category.ativo %}
                   <span class="badge bg-success">Ativo</span>
               {% else %}
                   <span class="badge bg-danger">Inativo</span>
               {% endif %}
            </td>
            <td>
                  <a class="btn btn-sm btn-primary w-100 mb-1" href="{{ url_for('edit_category_plan', id=category.id) }}">
                      <i class="fas fa-edit"></i> Editar
                  </a>
              </td>
              <td>
                  <a class="btn btn-sm btn-danger w-100 mb-1" href="{{ url_for('delete_category_plan', id=category.id) }}">
                      <i class="fas fa-trash-alt"></i> Excluir
                  </a>
              </td>
         </tr>
         {% endfor %}
      </tbody>
   </table>
    <!-- Paginação -->
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <!-- Link para a página anterior -->
            {% if categories.has_prev %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('plan', page=categories.prev_num) }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <span class="page-link">&laquo;</span>
            </li>
            {% endif %}

            <!-- Links de páginas numeradas -->
            {% for page_num in range(1, categories.pages + 1) %}
            <li class="page-item {% if categories.page == page_num %}active{% endif %}">
                <a class="page-link" href="{{ url_for('plan', page=page_num) }}">{{ page_num }}</a>
            </li>
            {% endfor %}

            <!-- Link para a próxima página -->
            {% if categories.has_next %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('plan', page=categories.next_num) }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <span class="page-link">&raquo;</span>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>
<div class="col-md-12" style="margin-top: 2rem">
   <h4 class="text-secondary">Produtos:</h4>
   <table class="table table-striped table-responsive table-bordered">
      <thead class="thead-default">
         <tr>
            <th>Nome</th>
            <th>Categoria</th>
            <th>Status</th>
            <th></th>
            <th></th>
         </tr>
      </thead>
      <tbody>
         {% for plan in plans %}
         <tr>
            <td>{{ plan.nome }}</td>
            <td>{{ plan.category.nome }}</td>
            <td>
               {% if plan.status %}
                   <span class="badge bg-success">Ativo</span>
               {% else %}
                   <span class="badge bg-danger">Inativo</span>
               {% endif %}
            </td>
            <td>
                  <a class="btn btn-sm btn-primary w-100 mb-1" href="{{ url_for('edit_plan', id=plan.id) }}">
                      <i class="fas fa-edit"></i> Editar
                  </a>
              </td>
              <td>
                  <a class="btn btn-sm btn-danger w-100 mb-1" href="{{ url_for('delete_plan', id=plan.id) }}">
                      <i class="fas fa-trash-alt"></i> Excluir
                  </a>
              </td>
         </tr>
         {% endfor %}
      </tbody>
   </table>
    <!-- Paginação -->
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <!-- Link para a página anterior -->
            {% if plans.has_prev %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('plan', page=plans.prev_num) }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <span class="page-link">&laquo;</span>
            </li>
            {% endif %}

            <!-- Links de páginas numeradas -->
            {% for page_num in range(1, categories.pages + 1) %}
            <li class="page-item {% if plans.page == page_num %}active{% endif %}">
                <a class="page-link" href="{{ url_for('plan', page=page_num) }}">{{ page_num }}</a>
            </li>
            {% endfor %}

            <!-- Link para a próxima página -->
            {% if plans.has_next %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('plan', page=plans.next_num) }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <span class="page-link">&raquo;</span>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>

{% endblock %}