<form method="POST" action="{{ url_for('edit_item_proposal', id=id, id_item=id_item) }}">
    {{ formItemProposta.csrf_token() }}
    <div class="row mb-3">
        <input type="hidden" name="id_item" value="{{ id_item }}">
        <div class="col-md-5 form-group">
            {{ formItemProposta.plan_id.label(class="form-label") }}
            {{ formItemProposta.plan_id(class="form-select") }}
        </div>
        <div class="col-md-2 form-group">
            {{ formItemProposta.quantidade.label(class="form-label") }}
            {{ formItemProposta.quantidade(class="form-control") }}
        </div>
        <div class="col-md-2 form-group">
            {{ formItemProposta.desconto.label(class="form-label") }}
            {{ formItemProposta.desconto(class="form-control") }}
        </div>
        <div class="col-md-2 form-group">
            {{ formItemProposta.total.label(class="form-label") }}
            {{ formItemProposta.total(class="form-control") }}
        </div>
    </div>
    <div class="text-center m-2">
        <button type="submit" class="btn btn-primary">Atualizar Item</button>
    </div>
</form>
