<div class="tab-pane fade show active p-3 border rounded" id="dados-usuario" role="tabpanel" aria-labelledby="dados-usuario-tab">
    <form class="row g-3" action="#" method="post" enctype="multipart/form-data">
        <fieldset>
            <input type="hidden" name="id" value="{{ id }}">
            {{ form.csrf_token() }}

            <div class="row mb-3">
                <div class="col-md-12">
                    {{ formItem.cliente.label(class="form-label") }}
                    <select class="form-select" name="cliente" id="cliente_select" onchange="toggleSelect('cliente')">
                        <option value="" selected>Selecione o cliente</option>
                        {% for cliente in clientes %}
                        <option value="{{ cliente.id }}" {% if formItem.cliente.data == cliente.id %}selected{% endif %}>
                            {{ cliente.razao_social }}
                        </option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col-md-12 mt-2">
                    {{ formItem.prospect.label(class="form-label") }}
                    <select class="form-select" name="prospect" id="prospect_select" onchange="toggleSelect('prospect')">
                        <option value="" selected>Selecione o prospect</option>
                        {% for prospect in prospects %}
                        <option value="{{ prospect.id }}" {% if formItem.prospect.data == prospect.id %}selected{% endif %}>
                            {{ prospect.nome_completo }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <!-- Botões de Ação -->
            <div class="text-center mt-4">
                {{ formItem.adicionar(class="btn btn-primary mx-2") }}
            </div>
        </fieldset>
    </form>
</div>


<!-- JavaScript para habilitar/desabilitar selects -->
<script>
    function toggleSelect(selected) {
        var prospectSelect = document.getElementById('prospect_select');
        var clienteSelect = document.getElementById('cliente_select');

        if (selected === 'cliente') {
            prospectSelect.disabled = clienteSelect.value !== '';
        } else if (selected === 'prospect') {
            clienteSelect.disabled = prospectSelect.value !== '';
        }

        // Reabilita ambos os selects se nenhum estiver selecionado
        if (prospectSelect.value === '' && clienteSelect.value === '') {
            prospectSelect.disabled = false;
            clienteSelect.disabled = false;
        }
    }
</script>
