{% extends "shared/template.html" %}
{% block conteudo %}
    <div class="card mx-auto shadow-lg" style="max-width: 100%; border-radius: 20px;">
            <div class="card-body p-5">
                <h2 class="text-center mb-4">Nova Atividade</h2>
                <!-- Form Start -->
                <form action="{{ url_for('created_activity') }}" method="post" enctype="multipart/form-data">
                    <fieldset class="p-3">
                        {{ form.csrf_token() }}
                    <!-- Basic Details -->
                    <div class="mb-4">
                        <div class="row">
                            <div class="col-md-2 mb-3">
                                <label  class="form-label">Tipo</label>
                                {{ form.tipo(class="form-select") }}
                            </div>
                            <div class="col-md-2 mb-3">
                                <label class="form-label">Status</label>
                                {{ form.status(class="form-select") }}
                            </div>
                            <div class="col-md-8 mb-3">
                                <label class="form-label">Cliente</label>
                                <select class="form-select" name="cliente_id">
                                    {% for cliente in clientes %}
                                        <option value="{{ cliente.id }}">{{ cliente.razao_social }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <label  class="form-label">Titulo</label>
                                {{ form.titulo(class="form-control") }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <label class="form-label">Descrição</label>
                                {{ form.descricao(class="form-control") }}
                            </div>
                        </div>
                    </div>

                    <!-- Submit Button -->
                    <div class="text-center">
                        <a href="{{ url_for('activity') }}" class="btn btn-secondary">Voltar</a>
                    </div>
                    </fieldset>
                </form>
                <!-- Form End -->
            </div>
    </div>
{% endblock %}