
{% extends "/shared/template.html" %}
{% block conteudo %}

<!-- Menu -->
<div class="container">
    <div class="row g-3">
        
            <div class="col-12 col-sm-6 col-md-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h4 class="card-title">Administração</h4>
                        <a class="btn btn-primary color-alcance mt-1" href="#">Acessar</a>
                    </div>
                </div>
            </div>
            
            <div class="col-12 col-sm-6 col-md-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h4 class="card-title">Minhas atividades</h4>
                        <a class="btn btn-primary color-alcance mt-1" href="#">Acessar</a>
                    </div>
                </div>
            </div>

        {% if grupo == 'Cliente' %}
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card h-100">
                <div class="card-body">
                    <h4 class="card-title">E-Social</h4>
                    <a class="btn btn-primary color-alcance mt-1" href="#">Acessar</a>
                </div>
            </div>
        </div>
        {% endif %}

        <div class="col-12 col-sm-6 col-md-4">
            <div class="card h-100">
                <div class="card-body">
                    <h4 class="card-title">Sair</h4>
                    <a class="btn btn-danger mt-1" href="{{ url_for('logout') }}">Logout</a>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}