{% extends "shared/template.html" %}
{% block conteudo %}

    <div class="container vh-100 d-flex justify-content-center align-items-center">
        <div class="text-center">
            <img src="https://via.placeholder.com/150" class="img-fluid mb-4" alt="Em Desenvolvimento">
            <h1 class="display-4 text-primary">Página em Desenvolvimento</h1>
            <p class="lead text-muted">Estamos trabalhando para melhorar sua experiência. Por favor, volte mais tarde!</p>
            <a href="/" class="btn btn-primary mt-3">Voltar ao Início</a>
        </div>
    </div>

{% endblock %}