{% extends "shared/template.html" %}
{% block conteudo %}
    <div class="card mx-auto shadow-lg" style="max-width: 100%; border-radius: 20px;">
            <div class="card-body p-4">
                <h5 class="text-left mb-4">Novo Usuário</h5>
                <!-- Form Start -->
                <form action="{{ url_for('created_user') }}" method="post" enctype="multipart/form-data">
                    <fieldset class="p-3">
                        {{ form.csrf_token() }}
                    <!-- Basic Details -->
                    <div class="mb-4">
                        <h6>Acesso ao sistema</h6>
                        <div class="row">
                            <div class="col-md-5 mb-3">
                                <label  class="form-label">Login</label>
                                 {{ form.login(class="form-control") }}
                            </div>
                            <div class="col-md-5 mb-3">
                                <label class="form-label">Senha</label>
                                {{ form.senha(class="form-control") }}
                            </div>
                           <div class="col-md-2 mb-3">
                                <label class="form-label">Status</label>
                                {{ form.ativo(class="form-select") }}
                            </div>
                        </div>
                    </div>

                    <!-- Endereço -->
                    <div class="mb-4">
                        <h5>Informações básicas</h5>
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <label class="form-label">Nome completo</label>
                                {{ form.nome(class="form-control") }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8 mb-3">
                                <label class="form-label">E-mail</label>
                                {{ form.email(class="form-control") }}
                            </div>
                            <div class="col-md-4 mb-3">
                                <label class="form-label">Telefone</label>
                                {{ form.telefone(class="form-control", id="telefone") }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 mb-3">
                                <label class="form-label">Grupo</label>
                                {{ form.grupo(class="form-select") }}
                            </div>
                            <div class="col-md-4 mb-3">
                                <label class="form-label">Cargo</label>
                                {{ form.cargo(class="form-control") }}
                            </div>
                            <div class="col-md-4 mb-3">
                                <label class="form-label">Setor</label>
                                {{ form.setor(class="form-control") }}
                            </div>
                        </div>
                    </div>

                    <!-- Submit Button -->
                    <div class="text-center">
                        {{ form.registrar(class="btn btn-primary px-5") }}
                        <a class="btn btn-danger mx-2" href="{{ url_for('users') }}">Voltar</a>
                    </div>
                    </fieldset>
                </form>
                <!-- Form End -->
            </div>
    </div>
{% endblock %}

